anyio==4.14.2
asyncgui==0.6.3
asynckivy==0.6.4
certifi==2026.6.17
charset-normalizer==3.4.9
docutils==0.23
exceptiongroup==1.3.1
filetype==1.2.0
flet==0.86.1
flet-desktop==0.86.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hypothesis==6.156.6
idna==3.18
kivy==2.3.1
kivy-garden==0.1.5
kivymd @ file:///home/lakshayj/Documents/project/leadershipos/kivy-git/KivyMD
-e file:///home/lakshayj/Documents/project/leadershipos
markdown-it-py==4.2.0
materialshapes==0.3
materialyoucolor==3.0.2
mdurl==0.1.2
msgpack==1.2.1
nodeenv==1.10.0
oauthlib==3.3.1
pillow==12.3.0
pycairo==1.29.0
pygments==2.20.0
pystray==0.19.5
python-xlib==0.33
repath==0.9.0
requests==2.34.2
rich==15.0.0
six==1.17.0
sortedcontainers==2.4.0
tomli==2.4.1
tomli-w==1.2.0
typing-extensions==4.16.0
urllib3==2.7.0
